.Rproj.user
.Rhistory
.RData
.Ruserdata

# about data 
Data/

# about the .DS_Store
.DS_Store

# about the manuscripts
Manuscripts/Achieve/
Manuscripts/.DS_Store

# about the code
Code/TempData/
Code/.DS_Store

# about the slides 
Slides/

# about the tables 
Tables/
